body {
    font-family: BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

rect.bar {
    fill: orange;
}

.petition-title {
    clear: left;
}

h1 .open {
    background-color: #3e8f3e;
    font-size: 60%;
}

h1 .closed {
    background-color: darkred;
    font-size: 60%;
}

#chartContainer {
    position: relative;
}

#download {
    font-size: 120%;
    display: block;
    position:absolute;
    right:70px; top: 40px;
    margin-bottom: 0;
    z-index: 99;
}

.progress {
    clear: both;
    margin: 0 1px;
    min-height:2em;
    vertical-align: middle;
}

.progress span {
    display: block;
    margin-top: 0.24em;
    font-size: 150%;
}

.subtitle {
    width: 100%;
    clear: none;
}

h3.non-uk-summary {
    line-height: 1.4em;
}

